<% include partials/header %>
<section class = 'container'>
    <header class = 'jumbotron'>
        <h1 class = 'text-center'>Cat Pics!</h1>
        <p class = 'text-center'>View some pictures of cats!</p>
    </header>

    <p>Welcome to the landing page!</p>
    <a href="/cats">View Cats!</a>
</section>


<% include partials/footer %>