<% include partials/header %>
<h1 class = 'text-center' style='margin: 30px;'>
    Add a new Cat!
</h1>
<div class = 'container' style='width: 450px;'>
    <form action="/cats" method="POST">
        <div class ='form-group'>
            <input class ='form-control' type="text" name="name" value="" placeholder="name">
        </div>
        <div class ='form-group'>
            <input class='form-control'type="text" name="image" placeholder="img URL">
        </div>
        <div class ='form-group'>
            <input class='form-control'type="text" name="desc" placeholder="Description">
        </div>
        <div class ='form-group'>
            <p>Are they cute??</p>
            <div class='text-center'>
                <p>Yes</p>
                <input class='form-control'type="radio" name="isCute" value="true">
            </div>
            
            <div class='text-center'>
                <p>No</p>
                 <input class='form-control'type="radio" name="isCute" value="false">
            </div>
           
        </div>
        <button class ='btn btn-default btn-lg'type="">Submit!</button>
    </form>
    
</div>






<% include partials/footer %>